@model ProyectoFinal.Models.ProductoModel

@{
    ViewBag.Title = "Detalles";
}
<div class="jumbotron" style="background-color: rgba(255,255,255,0.6)">
    <h2>Detalles</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                Marca
            </dt>

            <dd>
                @Html.DisplayFor(model => model.marca)
            </dd>

            <dt>
                Precio
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precio)
            </dd>

            <dt>
                ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idProducto)
            </dd>

        </dl>
    </div>
    </div>

    <a class="btn btn-default" href="/Producto/ListarProductosHabilitados">Volver</a>
