@model IEnumerable<ProyectoFinal.Models.ClienteModel>

@if (Model.Count() != 0)
{
    bool esAdmin = (bool)Session["esAdmin"];

    <div class="jumbotron" style="background-color: rgba(255,255,255,0.6)">
        <h2>Lista de clientes deshabilitados en el sistema</h2>
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    CI
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ci)
                    </td>
                    @if (esAdmin)
                    {
                        <td>
                            @Html.ActionLink("Habilitar", "Habilitar", new { id = item.ci }, new { @class = "btn btn-success" })
                        </td>
                    }
                </tr>
            }

            <tr>
                <td></td>
                <td></td>
                @if (esAdmin)
                {
                    <td>
                        <a class="btn btn-success" href="/Cliente/HabilitarTodos">Habilitar Todos</a>
                    </td>
                }

            </tr>
        </table>
    </div>
}
else
{
    <h2>La lista seleccionada está vacía</h2>
}

<a class="btn btn-default" href="/Cliente/ListarClientesHabilitados">Volver</a>